<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexpi.texttools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextTools">
        <activity android:name=".AddRightPaddingActivity" />
        <activity android:name=".AddLeftPaddingActivity" />
        <activity android:name=".TrimTextActivity" />
        <activity android:name=".TruncateTextActivity" />
        <activity android:name=".ReverseTextActivity" />
        <activity android:name=".JoinTextActivity" />
        <activity android:name=".SplitTextActivity" />
        <activity android:name=".RepeatTextActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9367060760258345~3914738202" />
    </application>

</manifest>